<?xml version="1.0" encoding="utf-8"?>
<!-- 
    此檔案的用途是將不宜直接被要求取得
    的範本檔案進行存取封鎖。
-->
<configuration>
  <system.web>
    <httpHandlers>
      <add path="*.aspx" verb="*" type="System.Web.HttpNotFoundHandler" validate="true" />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add path="*.aspx" verb="*" type="System.Web.HttpNotFoundHandler" name="AspxHandler" />
    </handlers>
  </system.webServer>
</configuration>